<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testcaseswithoutddapproach.TC_001_ValidateLoginPage"/>
      <class name="updatedtestcaseswithhddApproach.testcasesWithDDApproch"/>
      <class name="Data_Generator.Data_Generator"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
